body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: #111;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-weight: 500;
}

textarea {
  width: 100%;
  height: 150px;
  font-size: 22px;
  padding: 15px;

  border: none;
  outline: none;

  border-radius: 10px;
  background: #222;
  color: #fff;

  resize: none;
}

textarea::placeholder {
  color: #777;
}
